/*Reset Geral*/ *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    
    /*Personalização dos cards*/
    
    .cardservico {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #190344;
    padding: 20px;
    width: 45%;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 3%;
    }
    
    /*Ajuste da imagem*/
    
    .selfie {
    height: 400px;
    border-radius: 12px;
    width: 330px;
    margin-right: 2%;
    }
    
    .logos-escuras {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80px;
    height: 80px;
    
    }
    
    .coluna {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    }
    
    .informa {
    text-align: center;
    font-size: 1.5em;
    }

    #botaoform {
        background-color: rgb(78, 38, 116);
        border: solid rgb(54, 5, 61) 3px;
        border-radius: 12px;
        height: 5vh;
        width: 120%;
    }

    #botaoform:hover {
        background-color: rgb(169, 100, 234);
    }

    /* --- RESPONSIVIDADE --- */
/* --- MOBILE (até 768px) --- */
@media (max-width: 768px) {

    .cardservico {
        width: 90%;
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .selfie {
        width: 90%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .coluna {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        text-align: center;
    }

    .logos-escuras {
        width: 60px;
        height: 60px;
    }

    .informa {
        font-size: 1.2em;
    }

    .coluna a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: 5px;
        color: white;
    }
}

/* --- CELULARES DEITADOS (landscape) --- */
@media (max-height: 500px) and (orientation: landscape) {

    .cardservico {
        width: 95%;
        padding: 10px;
        flex-direction: row;
        gap: 10px;
    }

    .selfie {
        height: 200px;
        width: auto;
        margin: 0;
    }

    .coluna {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .logos-escuras {
        width: 50px;
        height: 50px;
    }

    .informa {
        font-size: 1em;
    }
}

/* --- TABLET (768px a 1024px) --- */
@media (min-width: 768px) and (max-width: 1024px) {

    .cardservico {
        width: 80%;
        padding: 20px;
        flex-direction: row;
        text-align: left;
        gap: 20px;
    }

    .selfie {
        width: 45%;
        height: auto;
    }

    .coluna {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .logos-escuras {
        width: 70px;
        height: 70px;
    }

    .informa {
        font-size: 1.4em;
    }
}
    